<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="lib/semantic.min.css">
    <script src="lib/jquery.min.js"></script>
    <script src="lib/semantic.min.js"></script>
    <title>OI Archive</title>
</head>

<body>
<div class="ui three item menu">
    <a class="header item" href="./index.html">
        <span style="font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif; font-size: 1.3em; font-weight: 300; ">OI Archive</span>
    </a>
</div>
<div id="app">
    <router-view></router-view>
</div>
</body>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>
<script src="lib/axios.min.js"></script>
<script src="lib/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script>
    "use strict";
    async function getProblem(pid) {
        let response=await axios.get('source/problem/'+pid+'/main.json');
        let json=response.data;
        let data=Object.assign({},json);
        data.block=[];
        let desc=(await axios.get('source/problem/'+pid+'/'+json.description)).data;
        data.description=null;
        desc+="{{}}\n";
        let title=null,doc="";
        for (let i of desc.split('\n')) {
            let t=i.trim();
            console.log(t);
            if (t.length>=4 && t[0]==='{' && t[1]==='{' && t[t.length-2]==='}' && t[t.length-1]==='}') {
                if (title!==null) {
                    data.block[data.block.length]={title:title,html:marked(doc)};
                    console.log(title);
                }
                title=t.substring(2,t.length-2);
                doc="";
            } else {
                doc+=i+'\n';
            }
        }
        return await data;
    }
    var problemListPage = Vue.extend({
        template: `
        <div class="ui main container">
        <div class="padding">
            <div class="eleven wide column">
                <h4 class="ui top attached block header">题目列表</h4>
                <div class="ui bottom attached segment">
                    <table class="ui celled table">
                        <thead>
                        <tr><th>PID</th><th>标题</th></tr>
                        </thead>
                        <tbody v-for="i in problems">
                            <tr><td><router-link v-bind:to="'/problem/'+i.pid">{{i.pid}}</router-link></td><td>{{i.title}}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
        `,
        data: () => {
            return {problems:[]};
        },
        created() {
            fetch('source/problemlist.json')
                .then(response => response.json())
                .then(json => {
                    this.problems = json.problems;
                });
        }
    });
    let problemPage=Vue.extend({
        template:`
<div>
	<div class="ui main container"><div class="ui center aligned grid"><div class="row">
				<h1 class="ui header">{{data.title}}</h1></div><div class="row" style="margin-top: -15px">
				    <span class="ui label">内存限制：{{data.memory}} MB</span>
				    <span class="ui label">时间限制：{{data.time}} ms</span></div></div><div class="ui grid"><div class="row"><div class="column">
				</div></div>
					<div class="row" v-for="i in data.block">
					    <div class="column"><h4 class="ui top attached block header">{{i.title}}</h4>
					        <div class="ui bottom attached segment font-content"><div style="position: relative; overflow: hidden;">
					                <span v-html="i.html"></span>
						    </div></div>
						</div>
					</div>
		</div></div>
</div>
`,
        data: () => {
            return {data:{time:0,memory:0,title:"数据加载中",block:[{title:"",html:""}]}};
        },
        beforeRouteEnter (to, from, next) {
            next(vm=> {
                getProblem(to.params["pid"]).then(data => {
                    vm.data=data;
                });
            });
        },
        beforeRouteUpdate (to, from, next) {
            getProblem(to.params["pid"]).then(data => {
                this.data=data;
            });
            next();
        },
    });
    let router = new VueRouter({
        routes: [
            { path: '/', component: problemListPage},
            { path: '/problem/:pid', component: problemPage}
        ]
    });
    const app=new Vue({
        router
    }).$mount('#app');
</script>
</html>