<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="lib/semantic.min.css">
    <script src="lib/jquery.min.js"></script>
    <script src="lib/semantic.min.js"></script>
    <title>OI Archive</title>
</head>

<body>
<div class="ui three item menu">
    <a class="header item" href="javascript:void(0)">
        <span style="font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif; font-size: 1.3em; font-weight: 300; ">OI Archive</span>
    </a>
</div>
<div id="app">
    <router-view></router-view>
</div>
</body>
<script type="text/javascript"
  src="lib/mathjax/unpacked/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true
    },
    "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>
<script src="lib/axios.min.js"></script>
<script src="lib/marked.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script>
    "use strict";
    async function getProblem(oj,pid) {
        let response=await axios.get(`source/${oj}/${pid}/main.json`);
        let json=response.data;
        let data=Object.assign({},json);
        data.block=[];
        let desc=(await axios.get(`source/${oj}/${pid}/description.md`)).data;
        data.description=null;
        desc+="# !\n";
        let title=null,doc="";
        for (let i of desc.split('\n')) {
            let t=i.trim();
            if (t.length>=3 && t[0]==='#' && t[1]===' ') {
                if (title!==null) {
                    data.block[data.block.length]={title:title,html:marked(doc)};
                }
                title=t.substring(2,t.length);
                doc="";
            } else {
                doc+=i+'\n';
            }
        }
        return await data;
    }
    var problemListPage = Vue.extend({
        template: `
        <div class="ui main container">
        <div class="padding">
            <div class="eleven wide column">
                <div calss="ui divider">
				<div class="ui buttons" v-for="i in problemSet"><a href="javascript:void(0);" @click='onOJClicked(i.id)' class="small ui primary button">{{i.name}}</a></div>
                </div>
                <h4 class="ui top attached block header">题目列表</h4>
                <div class="ui bottom attached segment">
                    <table class="ui celled table">
                        <thead>
                        <tr><th>PID</th><th>标题</th></tr>
                        </thead>
                        <tbody v-for="i in problemList">
                            <tr><td><router-link v-bind:to="'/problem/'+nowOJ+'/'+i.pid">{{i.pid}}</router-link></td><td>{{i.title}}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
        `,
        data: () => {
            return {problemList:[],problemSet:[],nowOJ:"main"};
        },
        methods: {
            onOJClicked(id) {
                this.nowOJ=id;
                for (const i of this.problemSet) {
                    if (i.id===id) {
                        this.problemList=i.problemList;
                        return;
                    }
                }
                alert("异常：找不到指定的题库");
            }
        },
        created() {
            axios('source/problemset.json').then(response => {
                this.problemSet=response.data;
                for(const i of this.problemSet) {
                    axios('source/'+i.id+'/problemlist.json').then(response => {
                        i.problemList=response.data;
                        if (i.id==="main") {
                            this.problemList=i.problemList;
                        }
                    });
                }
            });
            this.nowOJ="main";
        }
    });
    let problemPage=Vue.extend({
        template:`
<div>
	<div class="ui main container"><div class="ui center aligned grid"><div class="row">
				<h1 class="ui header">{{data.title}}</h1></div><div class="row" style="margin-top: -15px">
				    <span class="ui label">内存限制：{{data.memory}} MB</span>
				    <span class="ui label">时间限制：{{data.time}} ms</span></div></div><div class="ui grid"><div class="row"><div class="column">
				<div class="ui buttons"><a href="javascript:void(0);" v-on:click="onBackClicked()" class="small ui primary button">返回</a></div>
				</div></div>
					<div class="row" v-for="i in data.block">
					    <div class="column"><h4 class="ui top attached block header">{{i.title}}</h4>
					        <div class="ui bottom attached segment font-content"><div style="position: relative; overflow: hidden;">
					                <span v-html="i.html"></span>
						    </div></div>
						</div>
					</div>
		</div></div>
</div>
`,
        data: () => {
            return {data:{time:0,memory:0,title:"数据加载中",block:[{title:"",html:""}]}};
        },
        methods: {
            onBackClicked(){
                window.app.$router.go(-1)
            }
        },
        beforeRouteEnter (to, from, next) {
            next(vm=> {
                getProblem(to.params["oj"],to.params["pid"]).then(data => {
                    vm.data=data;
                });
            });
        },
        beforeRouteUpdate (to, from, next) {
            getProblem(to.params["oj"],to.params["pid"]).then(data => {
                this.data=data;
            });
            next();
        },
    });
    let router = new VueRouter({
        routes: [
            { path: '/', component: problemListPage},
            { path: '/problem/:oj/:pid', component: problemPage}
        ]
    });
    window.app=new Vue({
        router
    }).$mount('#app');
</script>
</html>